.places {
  margin: 82px auto 0;
  padding: 0 48px 0 48px;
  max-width: 984px;
  max-height: 3392px;
  display: grid;
  gap: 80px;
  align-content: flex-start;
  grid-template-columns: 1fr;
}

@media screen and (max-width: 1041px) {
  .places {
    margin: 92px auto 0;
    padding: 0 48px 0 48px;
    max-width: 928px;
    max-height: 3292px;
  }
}