.places__title {
  max-width: 460px;
  max-height: 142px;
  color: white;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: left;
  font-family: 'Inter Black', Arial, sans-serif;
}