.lead {
  max-width: 984px;
  margin: 56px auto 0;
  padding: 0 48px 0;
}

/*Изменения для десктопа/ноутбуков*/
@media screen and (max-width: 1041px) {
  .lead {
    max-width: 928px;
    margin: 48px auto 0;
  }
}

/*Изменения для средних экранов*/
@media screen and (max-width: 785px) {
  .lead {
    max-width: 768px;
    padding: 0;
  }
}

/*Изменения для мобильных экранов*/
@media screen and (max-width: 340px) {
  .lead {
    min-width: 320px;
  }
}