.places__text {
  max-width: 484px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: white;
}

/*Изменения для десктопа/ноутбуков*/
@media screen and (max-width: 1041px) {
  .places__text {
    max-width: 456px;
  }
}
/*Изменения для средних экранов*/
@media screen and (max-width: 785px) {
  .places__text {
    max-width: 352px;
  
  }
}

/*Изменения для мобильных экранов*/
@media screen and (max-width: 500px) {
  .places__text {
    max-width: 288px;
    padding: 0 16px 0;
  }
}