.header {
  max-width: 1184px;
  max-height: 52px;
  margin: 0 auto;
  padding: 28px 48px 0 48px;
  display: flex;
  justify-content: space-between;
}

/*Изменения для средних экранов*/
@media screen and (max-width: 785px) {
  .header {
    max-width: 720px;
    max-height: 52px;
    padding: 28px 24px 0 24px;
  }
}

/*Изменения для мобильных экранов*/
@media screen and (max-width: 540px) {
  .header {
    padding: 16px 16px 0 16px;
  }
}