.footer__copyright {
  margin: 0;
  padding: 0;
  max-width: 186px;
  max-height: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-align: right;
}