.cover {
  margin: 92px auto 0;
  padding: 0 48px 0 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Изменения для десктопа/ноутбуков*/
@media screen and (max-width: 1041px) {
  .cover {
    max-height: 740px;
    margin: 85px auto 0;
    padding: 0;
  }
}

/*Изменения для средних экранов*/
@media screen and (max-width: 785px) {
  .cover {
    margin: 84px auto 0;
  }
}

/*Изменения для мобильных экранов*/
@media screen and (max-width: 500px) {
  .cover {
    max-height: 320px;
    margin: 66px auto 0;
  }
}