.cover {
  margin: 92px auto 0;
  padding: 0 48px 0 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1041px) {
  .cover {
    max-height: 740px;
    margin: 85px auto 0;
    padding: 0;
    /*height: calc(100vw/1.6); /*Cоотношение сторон фона*/
  }
}

@media screen and (max-width: 900px) {
  .cover {
    margin: 84px auto 0;
  }
}

@media screen and (max-width: 700px) {
  .cover {
    max-height: 320px;
    margin: 66px auto 0;
  }
}