.places__place {
  display: grid;
  grid-gap: 48px 40px;
  grid-template-columns: 1fr 1.035fr;
  align-content: flex-start;
}

@media screen and (max-width: 1041px) {
  .places__place {
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 900px) {
  .places__place {
    grid-gap: 48px 28px;
  }
}

@media screen and (max-width: 700px) {
  .places__place {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}