.places__place {
  display: grid;
  grid-gap: 48px 40px;
  grid-template-columns: 1fr 1.035fr;
  align-content: flex-start;
}

@media screen and (max-width: 1041px) {
  .places__place {
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 500px) {
  .places__place {
    grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
  }
}