.cover__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: rgba(42, 44, 47, .4);
  transition: 1.3s ease; /*Плавное затемнение ссылки при наведении, в hover указан темный слой*/
}
.cover__overlay:hover {
  background-color: rgba(42, 44, 47, .8); /*Прозрачность на 0.8%*/
}
