.footer__navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

/*Изменения для мобильных экранов*/
@media screen and (max-width: 500px) {
  .footer__navigation {
    flex-direction: column;
  }
}