.cover__background{
  max-width: 1184px;
  width: 100%;
  height: calc(100vw/1.6); /*Соотношение сторон фона*/
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

/*Медиазапрос для диагонали 1024 - соотношение сторон фона*/
@media screen and (min-width: 1041px) {
  .cover__background {
    max-height: 740px;
    height: calc(100vw/1.626);
  }
}