.cover__background {
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  background-image: linear-gradient(rgba(42, 44, 47, .3), rgba(42, 44, 47, .3)), url(../../../images/cover-trains.jpg);
  align-items: center;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
}

/*При наведении, затемняется фон*/
.cover__background:hover::before {
  content: ""; /*Обязательно в before*/
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 44, 47, .8); /*Прозрачность на 0.8%*/
}

@media screen and (max-width: 1041px) {
  .cover__background {
    min-height: 640px;
    max-width: 1024px;
  }
}

@media screen and (max-width: 785px) {
  .cover__background {
    min-height: 480px;
    max-width: 768px;
  }
}


@media screen and (max-width: 540px) {
  .cover__background {
    max-width: 540px;
    min-height: 300px;
  }

}

@media screen and (max-width: 337px) {
  .cover__background {
    min-height: 200px;
    max-width: 320px;
  }
}
