.cover__title {
  max-width: 560px;
  max-height: 152px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: white;
  font-family: 'Inter Black', Arial, sans-serif;
}

/*Изменения для мобильных экранов*/
@media screen and (max-width: 500px) {
  .cover__title {
    max-width: 255px;
    font-size: 32px;
    line-height: 35px;
  }
}