.footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

/*Изменения для мобильных экранов*/
@media screen and (max-width: 730px) {
  .footer__list {
    flex-direction: column;
    align-items: flex-start;
  }
}