.lead__container {
  margin:  65px 0 0;
  align-self: stretch;
}

/*Изменения для десктопа/ноутбуков*/
@media screen and (max-width: 1041px) {
  .lead__container {
    margin: 66px 0 0;
  }
}

/*Изменения для средних экранов*/
@media screen and (max-width: 785px) {
  .lead__container {
    margin: 48px 0 0;
  }
}

/*Изменения для мобильных экранов*/
@media screen and (max-width: 540px) {
  .lead__container {
    margin: 39px 0 0;
  }
}