.footer {
  max-width: 1184px;
  min-height: 18px;
  margin: 92px auto 0;
  padding: 0 45px 24px 48px;
  display: flex;
  justify-content: space-between;
}

/*Изменения для средних экранов*/
@media screen and (max-width: 785px) {
  .footer {
    max-width: 720px;
    min-height: 18px;
    margin: 88px auto 0;
    padding: 0 24px 24px 24px;
  }
}

/*Изменения для мобильных экранов*/
@media screen and (max-width: 730px) {
  .footer {
    max-width: 186px;
    min-height: 310px;
    margin: 64px 0 0;
    padding: 0 0 0 16px;
    flex-direction: column;
    align-items: flex-start;
  }
}