.places__website {
  max-width: 456px;
  max-height: 46px;
  margin: 0;
  padding: 0;
  align-self: end;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

/*Изменения для средних экранов*/
@media screen and (max-width: 640px) {
  .places__website {
    padding: 0 0 0 16px;
  }
}